.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px 170px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;

}
.navbar h4 {
    
    margin-right: 30px;
    font-size: 30px;
    font-weight: 700;
}
.nav-connect {
    padding: 20px 15px;
    border-radius: 50px;
    background: linear-gradient(267deg, #f3af70 0.36%, #2923e1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}   
.nav-connect:hover {
    transform: scale(1.05);
}
.nav-menu :hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    
}
.anchor-link {
    text-decoration: none;
    color: white;
}
.nav-bar-close {
    display: none;
}
.nav-bar-hamburger{
    display: none;
}
@media (max-width: 1224px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-menu {
        gap: 40px;
    }
    .nav-connect {
        font-size: 18px;
        padding: 15px 12px;
    }
}

/* สำหรับมือถือและแท็บเล็ก */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        margin: 20px 10px;
    }

    .nav-connect {
        display: none;
        font-size: 16px;
        padding: 15px 10px;
    }
    .navbar h4 {
        display: none;
    }
    .nav-bar-hamburger {
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 3;
    }

    .nav-bar-close {
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 3;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        padding: 30px;
        gap: 30px;
        top: 0;
        font-size: 18px;
        background-color: gray;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu.show {
        right: 0;
    }

    .nav-bar-hamburger.hide {
        display: none;
    }

    .nav-bar-close.hide {
        display: none;
    }

}